body{ 
	padding:0;
	margin:0;
	padding-top:135px;
    Width:100vw;
	font-family: 'Nunito', sans-serif;
}
header{
	align-items: stretch;
	padding:0;
    Width:100vw;
    margin:0px;
    height:135px;
    display:block;
	line-height: 65px;
	top:-20px;
	border:none;

}
header ul{
    list-style: None;
    align-content:center;
	padding-right:25%;
	padding-left:25%;
}
header ul li{
	display: block;
	margin-right:auto;
	margin-left:auto;
    float:left;
    padding:4px 1.5%;
}
#headinglist{
	margin:0;
	padding:0;
	height:55%;
	font-size: 14px;
	color: #d9d9d9;
	align-content: center;
	background-color:black;
}
#covid{

    background:#0073e6;
    text-align:center;
    height:30%;
	align-content:center;
	
}
#covid p{
	text-align: center;
	align-content: center;
	display: block;
	margin-left:auto;
	margin-right:auto;
}
#shopTag{

    background:white;
    text-align:center;
    height:25%;
}
#shopTag p{
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

